PRODUCT_KEY="video" # lower case product name, e.g. accessmanager, chat, sync, video, voice
PRODUCT_NAME="Video SDK" # human readable name, used for git release comment
DEST_FILENAME="TwilioVideo.framework.zip" # eventual filename for carthage zip file, recomended as frameworkname.zip
SOURCE="twilio-${PRODUCT_KEY}-ios-${RELEASE_VERSION}.tar.bz2" # the filename pattern distributed to the cdn that will be downloaded
